header img{
    display: block;
    margin: auto;
    background-image: none;
    color: #000;
}

body {
   background-image: linear-gradient(to right, rgba(255,0,0,0), burlywood, rgba(255,0,0,0));
}

h1,h2,h3 {
    font-family: "Tangerine", cursive;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px black ridge;
    min-height: 200px;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    color: black
}

.navbar {
    background-color: blanchedalmond;
    border-top: 2px solid;
    border-bottom: 2px solid
}

.nav-item-active {
    border-left: 1px solid goldenrod;
    font-weight: bolder;
}

.nav-item {
    border-left: 1px solid goldenrod;
}

#searchBar {
    top: 3px;
    left: 5px;
    width: 100%;
    border-radius: 15px;
    border: 1px #000 ridge;
    padding: 5px 5px 5px 25px;
}

footer {
    background-color: blanchedalmond;
    border-top: 2px solid;;
}

.col-centered {
    float: none;
    margin: 0 auto;
}
